<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
       <input type="checkbox" v-model="ok">是否同意</input>
       <h1 v-if="ok">OOOK</h1>
       <h1 v-else>NNNO</h1>
    </div>

    <script src="vue.min.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
               ok:false
            },
        })
    </script>
</body>
</html>